* {
    box-sizing: border-box;
}

.boxes-container {
    padding: 20px;
}

.boxes-container:after {
    display: table;
    content: ' ';
    clear: both;
}

.box {
    background-color: #5a5c69;
    height: 200px;
    width: 23%;
    float: left;
    margin: 1%;
    padding: 20px;
    color: white;
    animation: slide-up 0.4s ease;
}

@media(max-width:767px) {
    .box {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }
}

.box-title {
    margin: 0;
    font-weight: normal;
    font-size: 30px;
}

.link-wrapper {
    text-align: center;
}

.load-more {
    display: inline-block;
    background-color: #6f5499;
    color: white;
    text-decoration: none;
    padding: 20px;
    transition: background 0.2s ease-in-out;
}

.load-more:hover {
    background: #8364b3;
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
